.contact-popup-overlay{
    display: none;
    width: 100vw;
    height: 100vh;
    background : transparent;
    z-index: 999;

    position: fixed;
    top: 0%;
    left: 0%;
    //border: solid 1px red;

    .contact-popup{
        width: 40%;
        height: 85%;
        background: white;
        border: solid 5px black;
        margin: auto;
        font-family: 'Space Mono';
        margin-top: 5%;
        z-index: 1000;

        .popup-header{
            height: 100px;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;

            h3{
                font-size: 2.5em;
                font-weight: 300;
            }
            span{
                i{
                    position: absolute;
                    display: block;
                    font-size: 2em;
                    top: 11%;
                    right: 31%;

                    &:hover{
                        animation: rotate .5s;
                    }
                }
            }
        }

        .popup-form{
            display: flex;
            justify-content: center;
            width: 100%;
            height: 80%;
            //border: solid 1px blue;
            form{
                width: 40%;
                height: 100%;
                display: flex;
                flex-direction: column;
                align-items: left;
                //border: solid 1px green;

                label{
                    margin-bottom: 5px;
                }

                input{
                    max-width: 100%;
                    height: 45px;
                    border: solid .5px;
                    border-radius: 5px;
                    margin-bottom: 30px;

                    &#ref_photo{
                        text-transform: uppercase;
                    }

                    &:nth-child(8){
                        height: 200px;
                        text-overflow: break-word;
                    }
                }

                button{
                    height: 60px;
                    background: #D8D8D8;
                    border-radius: 2px;
                    border: none;
                }
            }
        }
    }
}

@keyframes rotate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(90deg);
    }
}