.contact-popup-overlay{
    display: none;
    width: 100vw;
    height: 100vh;
    background : transparent;
    z-index: 999;

    position: fixed;
    top: 0%;
    left: 0%;
    //border: solid 1px red;

    .contact-popup{
        width: 60%;
        height: 85%;
        background: white;
        border: solid 5px black;
        margin: auto;
        font-family: 'Space Mono';
        margin-top: 5%;
        z-index: 1000;

        .popup-header{
            height: 100px;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;

            h3{
                font-size: 2.5em;
                font-weight: 300;
            }
            span{
                // Close button
                i{
                    position: absolute;
                    display: block;
                    font-size: 3em;
                    top: 12%;
                    right: 22%;

                    &:hover{
                        cursor: pointer;
                        animation: rotate .5s;
                    }
                }
            }
        }

        .popup-form{
            display: flex;
            justify-content: center;
            width: 100%;
            height: 80%;
            //border: solid 1px blue;
            form{
                width: 40%;
                height: 100%;
                display: flex;
                flex-direction: column;
                align-items: left;
                //border: solid 1px green;

                label{
                    margin-bottom: 5px;
                }

                input{
                    max-width: 100%;
                    height: 45px;
                    border: solid .5px;
                    border-radius: 5px;
                    margin-bottom: 30px;
                    font-size: 1.2em;

                    &#ref_photo{
                        text-transform: uppercase;
                    }

                    &:nth-child(8){
                        height: 200px;
                        vertical-align: top;
                        text-align: left;
                        white-space: pre-wrap;
                        overflow-wrap: break-word;
                    }
                }

                button{
                    height: 60px;
                    background: #D8D8D8;
                    border-radius: 2px;
                    border: none;
                    cursor: pointer;
                }
            }
        }
    }
}

@keyframes rotate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(90deg);
    }
}


// MEDIA QUERIES

@media (max-width: 1439px){
    .contact-popup-overlay{
            width: 100vw;
            height: 100vh;
            top: 15%;
            left: 5%;
        .contact-popup{
            position: fixed;
            top: 12%;
            left: 15%;
            width: 70%;
            margin: auto;
            .popup-header{
                .popup-close{
                    i{
                        width: 50px;
                        height: 50px;
                        top: 5%;
                        right: 5%;
                        font-size: 2.5em;
                    }
                }
            }
        }
    } 
}

@media (max-width: 768px){
    .contact-popup-overlay{
            width: 100vw;
            height: 100vh;
            top: 15%;
            left: 0%;
        .contact-popup{
            margin: auto;
            .popup-header{
                span{
                    i{
                        top: 3%;
                        right: 10%;
                        font-size: 2.2em;
                    }
                }
            }
            .popup-form{
                form{
                    width: 60%;
                }
            }
        }
    }
}

@media (max-width: 480px){
    .contact-popup-overlay{
        position: absolute;
        top: 9vh;
        left: 0;
            margin: 0;
            width: 100%;
            height: 100vh;
        .contact-popup{
            top: 9vh;
            left: 0;
            width: 100%;
            height: 91vh;
            .popup-header{
                span{
                    i{
                        top: 3%;
                        right: 10%;
                        font-size: 2.2em;
                    }
                }
            }
            .popup-form{
                form{
                    width: 60%;
                }
            }
        }
    }
}