
    .main-wrapper{
        width: 74%;
        height: 100%;
        margin: auto;
        //border: solid 1px red;

        /*** TITLE & PHOTO BLOC ***/
        .wrapper-photo{
            height: 85vh;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-end;

            .photo-infos{
                width: 48%;
                margin-top: 5%;
                display: flex;
                flex-direction: column;
                justify-content: left;
                align-items: left;
                border-bottom: 1px solid black;

                h1{
                    display: block;
                    max-width: 70%;
                    height: auto;
                    font-size: 3.5rem;
                    word-spacing: 0px;
                    word-break: normal;
                    line-height: 70px;
                    padding: 0;
                    margin-bottom: 30px;
                    font-family: 'Space Mono';
                    font-weight: 400;
                    text-transform: uppercase;
                    font-style: italic;
                }

                ul{
                    list-style: none;
                    line-height: 45px;
                    padding: 0;
                    margin-bottom: 5%;

                    li{
                        font-size: 1.3rem;
                        text-transform: uppercase;
                        font-family: 'Space Mono';
                        font-weight: 200;
                        letter-spacing: 15%;
                    }
                }
            }

            .photo-img{
                width: 50%;
                height: 98%;
                //border: solid 1px green;

                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }

        /**** CONTACT BLOC ****/
        .wrapper-contact{
            width: 73vw;
            height: 118px;
            margin: auto;
            font-family: 'Space Mono';
            border-bottom: solid 1px black;
            display: flex;
            justify-content: space-between;
            //border: solid 1px red;

            .contact-left{
                width: 48%;
                height: 100%;
                display: flex;
                align-items: center;

                p{
                    width: 60%;
                    padding: 0;
                    margin: 0;
                    font-size: 0.9em;
                    font-weight: 300;
                }

                button{
                    width: 45%;
                    height: 45%;
                    border: none;
                    background: #D8D8D8;
                    
                    &:hover{
                        cursor: pointer;
                    }
                }
            }

            .contact-right{
                width: 50%;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: flex-end;

                .contact-right-photo{
                    width: 13%;
                    height: 60%;

                    #thumbnail-image{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        object-position: center;
                    }
                }

                .contact-right-arrows{
                    display: flex;
                    justify-content: space-between;
                    width: 13%;
                    height: 20%;
                    //border: solid 1px blue;

                    .arrow-left,.arrow-right{
                        cursor: pointer;
                    }
                }
            }
        }


        /*** RELATED PHOTOS ***/
        .wrapper-related-photos{
            height: 60vh;
            width: 100%;
            margin-bottom: 5%;
            //border: solid 1px red;

            p{
                margin-top: 3%;
                font-family: 'Space Mono';
            }

            .related-photos{
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;

                .single-related-photo{
                    width: 49%;
                    height: 90%;
                    position: relative;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    //border: solid 2px blue;

                    img{
                        height: 100%;
                        width: 100%;
                        object-fit: cover;
                        object-position: center;
                    }

                    &::after {
                        content: "";
                        position: absolute;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        background-color: rgba(0, 0, 0, 0); /* Initialement transparent */
                        transition: background-color 0.3s ease, opacity 0.3s ease; /* Transition pour un effet doux */
                        z-index: 1; /* Place l’effet derrière les icônes */
                    }

                    &.hover-effect::after {
                        background-color: rgba(0, 0, 0, 0.8); /* Couche sombre lors du survol */
                        opacity: 0.5;
                    }

                    .related-photo-infos{
                        display: flex;
                        justify-content: space-between;
                        //border: solid 2px blue;
                        width: 98%;
                        height: 10%;
                        position: absolute;
                        bottom: 0;
                        z-index: 2;

                        &.show-info p {
                            transition: opacity .3s;
                            opacity: 1; /* Rendre visible lorsque la classe show-info est ajoutée */
                        }

                        p{
                            opacity: 0;
                            color: white;
                            font-family: 'Space Mono';
                            font-size: 1.1em;
                            text-transform: capitalize;
                        }
                    }
                }  

                

                i{
                    position: absolute;
                    opacity: 0;
                    transition: opacity .7s;
                    color: white;
                    z-index: 2;
                    &:hover{
                        opacity: 1;
                        cursor: pointer;
                    }
                    &.fa-eye{
                        font-size: 2.5em;
                        left: 50%;
                        top: 50%;
                    }
                    &.fa-expand{
                        font-size: 2em;
                        right: 2%;
                        top: 2%;
                    }
                }
            }
        }
    }

@media (max-width: 768px){

    main{
        .main-wrapper{
            .wrapper-photo{
                height: 100%;
                flex-direction: column-reverse;
                justify-content: center;
                align-items: center;
                .photo-img{
                    width: 100%;
                }
                .photo-infos{
                    width: 100%;
                }
            }
            .wrapper-contact{
                .contact-right{
                    display: none;
                }
                .contact-left{
                    flex-direction: column;
                    justify-content: center;
                    width: 100%;
                    p{
                        width: 100%;
                        margin-bottom: 3%;
                    }
                    button{
                        width: 100%;
                    }
                }
            }
            .wrapper-related-photos{
                height: 100%;
                margin-top: 2%;
                p{
                    text-align: center;
                }
                .related-photos{
                    flex-direction: column;
                    justify-content: space-between;
                    gap: 30px;
                    margin-top: 2%;
                    .single-related-photo{
                        width: 90%;
                        height: 300px;
                    }
                }
            }
        }
    }
}


@media (max-width: 480px){

    // MAIN CONTENT
    .main-wrapper{
        .wrapper-photo{
            flex-direction: column-reverse;
            justify-content: center;
            height: 100%;
            .photo-img{
                margin: 0;
                width: 100%;
                object-fit: cover;
            }
            .photo-infos{
                margin-top: 2%;
                width: 100%;
                h1{
                    font-size: 2.3em;
                    margin: 0;
                    line-height: 100%;
                    width: 100vw;
                    max-width: 100%;
                }
                ul{
                    li{
                        font-size: 1em;
                    }
                }
            }
        }
        .wrapper-contact{
            .contact-left{
                width: 100%;
                p{
                    width: 100%;
                    font-size: 0.8em;
                }
                button{
                    margin-top: 5%;
                    width: 100%;
                    height: 40px;
                }
            }
            .contact-right{
                display: none;
            }
        }
        .wrapper-related-photos{
            margin-top: 5%;
            height: 100%;
            .related-photos{
                .single-related-photo{
                    height: 300px;
                    width: 100%;
                }
            }
        }
    }

    // FOOTER
    footer{
        nav{
            margin-top: 3%;
            margin-bottom: 3%;
            .menu-footer-container{
                height: 100%;
                #menu-footer{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                }
            }
        }
    }
}